html, body, .container {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.operators {
    width: 80px;
    height: 30px;
    margin: 7px;
    font-size: large;
}