html, body, .container {
    height: 100%;
}

body {
    /* Bckground image from 
    https://www.freepik.com/free-vector/gradient-numerology-background_37573680.htm#fromView=keyword&page=2&position=7&uuid=7fa813cc-fa0a-4d2e-be6c-92b0954ddcb1&new_detail=true
    */
    background-image:url('background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.calc-form, #result {
    background-color: lightgray;
    opacity: 0.65;
    border-radius: 4px;
}

#number-pad {
    /* display: flex;
    justify-content: space-evenly; */
    width: 300px;
    margin: 0 auto;
    /* text-align: center; */
}

.row {
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* width: 200px; */
    gap: 10px;
}

.number {
    width: 40px;
    height: 30px;
}

.operator {
    width: 70px;
    height: 25px;
    margin: 7px;
    font-size: large;
}

.operations {
    display: flex;
    justify-content: center;
}

#equation-box {
    background-color: white;
    opacity: 0.65;
    text-align: center;
    border-color: black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 4px;
}